.home {
    .images {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;

        .homeImg1 {
            flex: 1;
            width: 10vw;
        }

        .homeImg2 {
            flex: 1;
            width: 10vw;
        }

        .text {
            position: absolute;
            display: flex;
            gap: 28vw;
            color: rgba(255, 255, 255, 0.848);
            font-size: 70px;
            letter-spacing: 5px;
            font-weight: 800;
        }
    }

    .offers {
        margin-top: 7vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .offText {
            font-size: 48px;
            width: 40vw;
            font-weight: 600;
            text-align: center;
        }

        .offCards {
            display: flex;
            gap: 3vw;

            .offCard {
                position: relative;

                .offTitle {
                    position: absolute;
                    bottom: 10px;
                    left: 24px;
                    color: white;
                    font-weight: 500;
                    font-size: 20px;
                    width: 24vw;
                    transform: translateY(0px);
                    transition: opacity 0.3s, transform 0.3s;
                    transition-delay: 0s;
                }

                .desc {
                    position: absolute;
                    left: 24px;
                    right: 24px;
                    bottom: 70px;
                    margin: 0;
                    padding: 0;
                    color: #ffffffb0;
                    opacity: 0;
                    z-index: -100;
                    font-weight: 500;
                    transform: translateY(45px);
                    transition: opacity 0.3s, transform 0.3s;
                    transition-delay: 0s;
                }

                .offbtn {
                    width: 36px;
                    height: 36px;
                    left: 24px;
                    cursor: pointer;
                    border-radius: 50%;
                    outline: none;
                    position: absolute;
                    display: flex;
                    border: none;
                    background-color: white;
                    justify-content: center;
                    align-items: center;
                    transform: translateY(45px);
                    transition: opacity 0.3s, transform 0.3s;
                    transition-delay: 0s;
                    opacity: 0;
                    z-index: -100;
                }

                &:hover {
                    transition: 1s;

                    .offTitle {
                        transform: translateY(-90px);
                        transition-delay: 0.2s;
                    }

                    .desc {
                        opacity: 1;
                        transform: translateY(0px);
                        transition-delay: 0.25s;
                        z-index: 2;
                    }

                    .offbtn {
                        opacity: 1;
                        transform: translateY(-60px);
                        transition-delay: 0.2s;
                        z-index: 2;
                    }
                }
            }


            .offCard2 {
                position: relative;

                .offTitle2 {
                    position: absolute;
                    bottom: 10px;
                    left: 24px;
                    color: white;
                    font-weight: 500;
                    font-size: 20px;
                    width: 24vw;
                    transform: translateY(0px);
                    transition: opacity 0.3s, transform 0.3s;
                    transition-delay: 0s;
                }

                .desc2 {
                    position: absolute;
                    left: 24px;
                    right: 24px;
                    bottom: 70px;
                    margin: 0;
                    padding: 0;
                    color: #ffffffb0;
                    opacity: 0;
                    z-index: -100;
                    font-weight: 500;
                    transform: translateY(45px);
                    transition: opacity 0.3s, transform 0.3s;
                    transition-delay: 0s;
                }

                .offbtn2 {
                    width: 36px;
                    height: 36px;
                    left: 24px;
                    border-radius: 50%;
                    outline: none;
                    position: absolute;
                    display: flex;
                    border: none;
                    background-color: white;
                    justify-content: center;
                    align-items: center;
                    transform: translateY(45px);
                    transition: opacity 0.3s, transform 0.3s;
                    transition-delay: 0s;
                    opacity: 0;
                    z-index: -100;
                    cursor: pointer;
                }

                &:hover {
                    transition: 1s;

                    .offTitle2 {
                        transform: translateY(-90px);
                        transition-delay: 0.2s;
                    }

                    .desc2 {
                        opacity: 1;
                        transform: translateY(0px);
                        transition-delay: 0.25s;
                        z-index: 2;
                    }

                    .offbtn2 {
                        opacity: 1;
                        transform: translateY(-60px);
                        transition-delay: 0.3s;
                        z-index: 2;
                    }
                }
            }
        }
    }
    .holidayPackages{
        display: flex;
        margin-top: 10vh;
        background-color: #FDF5ED;
        padding-bottom: 7vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .holText{
            font-size: 48px;
            width: 50vw;
            font-weight: 600;
            text-align: center;
        }
        .holidays{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 4vw;

            .holiday {
                border: 1px solid #C4C4C4;
                border-radius: 24px;
                width: 28vw;
                cursor: pointer;
                .holImg {
                    position: relative;
                    img{
                        width: 28vw;
                    }
                    .holDur {
                        position: absolute;
                        z-index: 2;
                        right: 2vw;
                        background-color: #3D3434;
                        color: white;
                        padding: 7px 10px;
                        border-radius: 25px;
                        font-size: 12px;
                        bottom: -0.5vh;
                    }
                }

                .holMar {
                    margin: 2vh 2vw;

                    .holPlace {
                        font-size: 14px;
                        color: #7D7D7D;
                        font-weight: 600;
                        margin-bottom: 0;
                    }

                    .holTitle {
                        font-size: 18px;
                        font-weight: 700;
                        width: 24vw;
                        margin-top: 10px;
                        margin-bottom: 10px;
                    }
                }
                .holPoint {
                    margin: 2vh 2vw;
                    font-size: 14px;
                    display: flex;
                    align-items: center;
                    gap: 24px;
                    color: #7D7D7D;
                    font-weight: 600;
                }
                .holline{
                    margin: 4vh 2vw;
                    width: 24vw;
                }
                .holPrice{
                    font-size: 20px;
                    font-weight: 700;
                    margin: 4vh 2vw;
                    .holtrip{
                        font-size: 16px;
                        font-weight: 400;
                        color: #7D7D7D;
                    }
                }
            }
        }
        .holBtn{
            padding: 10px 26px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1vw;
            background-color: transparent;
            border: 1px solid #062D28;
            font-family: var(--rethink);
            border-radius: 25px;
            font-size: 18px;
            cursor: pointer;
            margin-top: 10vh;
        }
    }
    .services{
        background-color: #1C1A1F;
        color: white;
        display: flex;
        flex-direction: column;
        gap: 20vh;
        padding: 20vh 10vw 20vh 5vw;
        .service{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            .serLeft{
                width: 40vw;
                .serGreen{
                    color: #4BC853;
                    font-size: 14px;
                }
                .serTitle{
                    font-size: 24px;
                    font-weight: 600;
                    margin-bottom: 2px;
                }
                .serBtn{
                    padding: 14px 20px;
                    margin-top: 10vh;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 1vw;
                    background-color: transparent;
                    font-family: var(--rethink);
                    color: #4BC853;
                    border: 1px solid #4BC853;
                    border-radius: 25px;
                }
                .serBotm{
                    display: flex;
                    width: 36vw;
                    gap: 4vw;
                    .serBtmTitle{
                        font-weight: 600;
                    }
                }
            }
        }
    }
    .tripla{
        display: flex;
        justify-content: center;
        .triplaImg{
            width: 95vw;
        }
    }
    .explore{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin: 0vw 4vw;
        .expTag{
            color: #4BC853;
            font-weight: 500;
            margin-bottom: 0;
        }
        .expLine{
            font-weight: 600;
            margin: 1vh 0vh;
            font-size: 24px;
        }
        .expMat{
            margin-top: 1vh;
            width: 50vw;
        }
        .expCards{
            margin-top: 5vh;
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: flex-start;
            gap: 4vw;
            .expCard{
                display: flex;
                width: 24vw;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                img{
                    width: 24vw;
                }
                .expCardTitle{
                    font-weight: 600;
                    margin-bottom: 0;
                }
                .expCardLine{
                    margin-top: 2vh;
                    font-size: 14px;
                }
            }
        }
    }
    .start{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        margin: 5vh 4vw;
        .strTitle{
            font-weight: 600;
            font-size: 24px;
            margin-bottom: 0;
        }
    }
}