.home {
    font-family: var(--rethink);
    .images {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;

        .homeImg1 {
            flex: 1;
            width: 10vw;
        }

        .homeImg2 {
            flex: 1;
            width: 10vw;
        }

        .text {
            position: absolute;
            display: flex;
            gap: 28vw;
            color: rgba(255, 255, 255, 0.848);
            font-size: 70px;
            letter-spacing: 5px;
            font-weight: 800;
        }
    }

    .offers {
        margin-top: 7vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .offText {
            font-size: 48px;
            width: 40vw;
            font-weight: 600;
            text-align: center;
        }

        .offCards {
            display: flex;
            gap: 3vw;

            .offCard {
                position: relative;

                .offTitle {
                    position: absolute;
                    bottom: 10px;
                    left: 24px;
                    color: white;
                    font-weight: 500;
                    font-size: 20px;
                    width: 24vw;
                    transform: translateY(0px);
                    transition: opacity 0.3s, transform 0.3s;
                    transition-delay: 0s;
                }

                .desc {
                    position: absolute;
                    left: 24px;
                    right: 24px;
                    bottom: 70px;
                    margin: 0;
                    padding: 0;
                    color: #ffffffb0;
                    opacity: 0;
                    z-index: -100;
                    font-weight: 500;
                    transform: translateY(45px);
                    transition: opacity 0.3s, transform 0.3s;
                    transition-delay: 0s;
                }

                .offbtn {
                    width: 36px;
                    height: 36px;
                    left: 24px;
                    border-radius: 50%;
                    outline: none;
                    position: absolute;
                    display: flex;
                    border: none;
                    background-color: white;
                    justify-content: center;
                    align-items: center;
                    transform: translateY(45px);
                    transition: opacity 0.3s, transform 0.3s;
                    transition-delay: 0s;
                    opacity: 0;
                    z-index: -100;
                }

                &:hover {
                    transition: 1s;

                    .offTitle {
                        transform: translateY(-90px);
                        transition-delay: 0.2s;
                    }

                    .desc {
                        opacity: 1;
                        transform: translateY(0px);
                        transition-delay: 0.25s;
                        z-index: 2;
                    }

                    .offbtn {
                        opacity: 1;
                        transform: translateY(-60px);
                        transition-delay: 0.3s;
                        z-index: 2;
                    }
                }
            }


            .offCard2 {
                position: relative;

                .offTitle2 {
                    position: absolute;
                    bottom: 10px;
                    left: 24px;
                    color: white;
                    font-weight: 500;
                    font-size: 20px;
                    width: 24vw;
                    transform: translateY(0px);
                    transition: opacity 0.3s, transform 0.3s;
                    transition-delay: 0s;
                }

                .desc2 {
                    position: absolute;
                    left: 24px;
                    right: 24px;
                    bottom: 70px;
                    margin: 0;
                    padding: 0;
                    color: #ffffffb0;
                    opacity: 0;
                    z-index: -100;
                    font-weight: 500;
                    transform: translateY(45px);
                    transition: opacity 0.3s, transform 0.3s;
                    transition-delay: 0s;
                }

                .offbtn2 {
                    width: 36px;
                    height: 36px;
                    left: 24px;
                    border-radius: 50%;
                    outline: none;
                    position: absolute;
                    display: flex;
                    border: none;
                    background-color: white;
                    justify-content: center;
                    align-items: center;
                    transform: translateY(45px);
                    transition: opacity 0.3s, transform 0.3s;
                    transition-delay: 0s;
                    opacity: 0;
                    z-index: -100;
                }

                &:hover {
                    transition: 1s;

                    .offTitle2 {
                        transform: translateY(-90px);
                        transition-delay: 0.2s;
                    }

                    .desc2 {
                        opacity: 1;
                        transform: translateY(0px);
                        transition-delay: 0.25s;
                        z-index: 2;
                    }

                    .offbtn2 {
                        opacity: 1;
                        transform: translateY(-60px);
                        transition-delay: 0.3s;
                        z-index: 2;
                    }
                }
            }
        }
    }
    .holidayPackages{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .holText{
            font-size: 48px;
            width: 40vw;
            font-weight: 600;
            text-align: center;
        }
        .holidays{
            display: flex;
        }
        
    }
}