.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    .headLogo{
        margin-left: 2vw;
    }
    .headLinks {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3vw;
        li{
            list-style: none;
            font-family: var(--rethink);
            font-weight: 500;
        }
    }

    .headRight {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2vw;
        .headSearch {
            display: flex;
            height: 6vh;
            align-items: center;
            border: 1px solid #cfcfcf;
            border-radius: 25px;
            input{
                width: 16vw;
                margin-left: 10px;
                margin-right: 5px;
                border: none;
                font-family: var(--rethink);
                outline: none;
            }
            .headSearchLogo {
                background-color: var(--bg-color);
                height: 30px;
                width: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                margin-right: 2px;
            }
        }
        .headLogos{
            display: flex;
            margin-right: 2vw;
            justify-content: center;
            align-items: center;
            gap: 2vw;
        }
    }
}